In [1]:
'''IMPORTING SQUARED IDEAL DATA AND SUM OF ALL DEVIATION'''
import pandas as pd
import numpy as np
id_min=pd.read_csv('C:/Users/Swetha/IU/ideal_update.csv')
df=pd.DataFrame(id_min)
dflist=['y1','y2','y3','y4','y5','y6','y7','y8','y9','y10',
        'y11','y12','y13','y14','y15','y16','y17','y18','y19','y20',
        'y21','y22','y23','y24','y25','y26','y27','y28','y29','y30',
        'y31','y32','y33','y34','y35','y36','y37','y38','y39','y40',
        'y41','y42','y43','y44','y45','y46','y47','y48','y49','y50']
df.loc['result'] = df[dflist].sum(axis=0)
df

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
0,-20.0,0.833469,0.166531,82.574569,29.247351,82.574569,0.833469,0.704041,0.724064,0.666124,...,1636.726289,1616.364832,8.974412,0.000069,168.889050,28.072167,28.072167,0.034700,0.833469,0.157490
1,-19.9,0.752806,0.247194,83.399926,30.219051,83.399926,0.752806,0.748593,0.028398,0.988775,...,1618.760272,1603.889561,8.944405,0.000070,168.758806,28.019078,28.019078,0.046522,0.752806,0.227485
2,-19.8,0.662065,0.337935,84.388585,31.151152,84.388585,0.662065,0.790661,0.375023,1.351740,...,1600.546927,1591.264755,8.914297,0.000070,168.627937,27.965768,27.965768,0.055934,0.662065,0.301543
3,-19.7,0.564863,0.435137,85.533383,32.031631,85.533383,0.564863,0.829825,0.989366,1.740550,...,1582.113231,1578.458915,8.884088,0.000070,168.496457,27.912240,27.912240,0.061448,0.564863,0.375573
4,-19.6,0.465074,0.534926,86.825795,32.848785,86.825795,0.465074,0.865693,0.599627,2.139703,...,1563.489099,1565.444063,8.853777,0.000070,168.364379,27.858498,27.858498,0.062195,0.465074,0.446093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,19.6,0.465074,0.534926,114.104355,32.848785,114.104355,0.465074,0.865693,0.599627,2.139703,...,1563.489099,1508.103633,8.853777,0.000155,168.364379,27.858498,27.858498,0.062195,0.465074,0.446093
397,19.7,0.564863,0.435137,115.596343,32.031631,115.596343,0.564863,0.829825,0.989366,1.740550,...,1582.113231,1526.478575,8.884088,0.000155,168.496457,27.912240,27.912240,0.061448,0.564863,0.375573
398,19.8,0.662065,0.337935,116.935545,31.151152,116.935545,0.662065,0.790661,0.375023,1.351740,...,1600.546927,1545.224054,8.914297,0.000155,168.627937,27.965768,27.965768,0.055934,0.662065,0.301543
399,19.9,0.752806,0.247194,118.105686,30.219051,118.105686,0.752806,0.748593,0.028398,0.988775,...,1618.760272,1564.313796,8.944405,0.000156,168.758806,28.019078,28.019078,0.046522,0.752806,0.227485
result,NaN,196.286861,203.713140,40178.027968,10386.150071,40178.027968,196.286861,209.121844,205.960157,814.852557,...,213095.425979,213403.251800,2809.982104,0.041623,58280.885092,8493.048490,8493.048490,12.653219,196.286861,158.011014

In [3]:
'''SORTING THE SUMED ROWS '''
sum_of_col=pd.DataFrame(df)
df2=sum_of_col.sort_values(by = ["result"],
                       axis=1,
                       ascending=True)
df2

,y44,y48,y50,y49,y6,y1,y2,y8,y7,y34,...,y22,y21,y29,y28,y30,y26,y27,y24,y25,x
0,0.000069,0.034700,0.157490,0.833469,0.833469,0.833469,0.166531,0.724064,0.704041,0.557134,...,6.400000e+07,6.400000e+07,5.776000e+07,6.432040e+07,7.735202e+07,3.401222e+07,1.133799e+08,2.560000e+08,5.757600e+08,-20.0
1,0.000070,0.046522,0.227485,0.752806,0.752806,0.752806,0.247194,0.028398,0.748593,0.384959,...,6.210384e+07,6.210384e+07,5.601907e+07,6.241788e+07,7.512762e+07,3.289411e+07,1.103227e+08,2.484154e+08,5.586982e+08,-19.9
2,0.000070,0.055934,0.301543,0.662065,0.662065,0.662065,0.337935,0.375023,0.790661,0.226327,...,6.025473e+07,6.025473e+07,5.432209e+07,6.056251e+07,7.295674e+07,3.180680e+07,1.073344e+08,2.410189e+08,5.420597e+08,-19.8
3,0.000070,0.061448,0.375573,0.564863,0.564863,0.564863,0.435137,0.989366,0.829825,0.100132,...,5.845173e+07,5.845173e+07,5.266816e+07,5.875334e+07,7.083836e+07,3.074961e+07,1.044139e+08,2.338069e+08,5.258363e+08,-19.7
4,0.000070,0.062195,0.446093,0.465074,0.465074,0.465074,0.534926,0.599627,0.865693,0.021620,...,5.669391e+07,5.669391e+07,5.105640e+07,5.698945e+07,6.877146e+07,2.972186e+07,1.015600e+08,2.267756e+08,5.100193e+08,-19.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,0.000155,0.062195,0.446093,0.465074,0.465074,0.465074,0.534926,0.599627,0.865693,1.480820,...,5.669391e+07,5.669391e+07,6.262658e+07,5.698945e+07,4.578168e+07,1.015600e+08,2.972186e+07,2.267756e+08,5.104711e+08,19.6
397,0.000155,0.061448,0.375573,0.564863,0.564863,0.564863,0.435137,0.989366,0.829825,1.408283,...,5.845173e+07,5.845173e+07,6.453653e+07,5.875334e+07,4.725453e+07,1.044139e+08,3.074961e+07,2.338069e+08,5.262950e+08,19.7
398,0.000155,0.055934,0.301543,0.662065,0.662065,0.662065,0.337935,0.375023,0.790661,1.326203,...,6.025473e+07,6.025473e+07,6.649476e+07,6.056251e+07,4.876665e+07,1.073344e+08,3.180680e+07,2.410189e+08,5.425255e+08,19.8
399,0.000156,0.046522,0.227485,0.752806,0.752806,0.752806,0.247194,0.028398,0.748593,1.242863,...,6.210384e+07,6.210384e+07,6.850226e+07,6.241788e+07,5.031886e+07,1.103227e+08,3.289411e+07,2.484154e+08,5.591710e+08,19.9
result,0.041623,12.653219,158.011014,196.286861,196.286861,196.286861,203.713140,205.960157,209.121844,349.083059,...,3.657463e+09,3.657463e+09,3.663863e+09,3.683117e+09,3.720328e+09,4.398637e+09,4.478004e+09,1.462985e+10,3.291694e+10,NaN

In [4]:
'''MINIMUM OF 4 IDEAL DATA SET'''
df3=df2.loc["result"]
df4=df3.head(4)
df4

y44      0.041623
y48     12.653219
y50    158.011014
y49    196.286861
Name: result, dtype: float64

In [5]:
df6=df[['x','y44','y48','y50','y49']]
df6

           x       y44        y48         y50         y49
0      -20.0  0.000069   0.034700    0.157490    0.833469
1      -19.9  0.000070   0.046522    0.227485    0.752806
2      -19.8  0.000070   0.055934    0.301543    0.662065
3      -19.7  0.000070   0.061448    0.375573    0.564863
4      -19.6  0.000070   0.062195    0.446093    0.465074
...      ...       ...        ...         ...         ...
396     19.6  0.000155   0.062195    0.446093    0.465074
397     19.7  0.000155   0.061448    0.375573    0.564863
398     19.8  0.000155   0.055934    0.301543    0.662065
399     19.9  0.000156   0.046522    0.227485    0.752806
result   NaN  0.041623  12.653219  158.011014  196.286861

[401 rows x 5 columns]

In [6]:
df5=pd.DataFrame(df6)
'''dropping the index column and save to csv file'''
df5.to_csv('C:/Users/Swetha/IU/ideal_mininum_set_data.csv', index=False)

In [7]:
'''Importing the modules'''
from sqlalchemy import create_engine as ce
import pandas as pd
'''Import data from CSV file'''
data=pd.read_csv('C:/Users/Swetha/IU/ideal_mininum_set_data.csv')
'''Creating a DB file'''
file_db = ce('sqlite:///C:/Users/Swetha/assignment_dataset/ideal_min.db')
'''Loading the CSV file into db file'''
data.to_sql('ideal_mininum_set_data',file_db)

ValueError: Table 'ideal_mininum_set_data' already exists.

In [ ]:
'''connecting to Mysql'''
mysql_engine = ce("mysql://root:mysql24S*@localhost:3306/trainsetdb")

In [ ]:
'''Loading CSv to Mysql'''
data.to_sql('ideal_mininum_set_data',mysql_engine)