In [33]:
import pandas as pd
import numpy as np
id_min=pd.read_csv('C:/Users/Swetha/IU/ideal_update.csv')
result1=id_min.sum()
result1.columns=['x_value','sort_values']
print(result1.columns)

['x_value', 'sort_values']

In [32]:
df=pd.DataFrame(result1)
'''save to csv file'''
df.to_csv('C:/Users/Swetha/IU/sum_of_ideal_columns.csv')
df

                0
x   -2.000000e+01
y1   1.962869e+02
y2   2.037131e+02
y3   4.017803e+04
y4   1.038615e+04
y5   4.017803e+04
y6   1.962869e+02
y7   2.091218e+02
y8   2.059602e+02
y9   8.148526e+02
y10  2.525052e+04
y11  5.333400e+04
y12  4.813660e+05
y13  2.237360e+05
y14  5.333400e+04
y15  1.699350e+04
y16  1.280053e+07
y17  1.280053e+07
y18  5.120213e+07
y19  1.390721e+07
y20  1.561481e+07
y21  3.657463e+09
y22  3.657463e+09
y23  3.657463e+09
y24  1.462985e+10
y25  3.291694e+10
y26  4.398637e+09
y27  4.478004e+09
y28  3.683117e+09
y29  3.663863e+09
y30  3.720328e+09
y31  5.333400e+04
y32  4.000000e+03
y33  5.533400e+04
y34  3.490831e+02
y35  1.333400e+04
y36  1.333350e+06
y37  5.333400e+04
y38  4.007451e+02
y39  1.280000e+07
y40  4.918199e+07
y41  2.130954e+05
y42  2.134033e+05
y43  2.809982e+03
y44  4.162329e-02
y45  5.828089e+04
y46  8.493048e+03
y47  8.493048e+03
y48  1.265322e+01
y49  1.962869e+02

In [20]:
'''Importing the modules'''
from sqlalchemy import create_engine as ce
import pandas as pd
'''Import data from CSV file'''
data=pd.read_csv('C:/Users/Swetha/IU/sum_of_ideal_columns.csv')
'''Creating a DB file'''
file_db = ce('sqlite:///C:/Users/Swetha/assignment_dataset/sum_of_ideal_col.db')
'''Loading the CSV file into db file'''
data.to_sql('sum_of_ideal_col',file_db)

ValueError: Table 'sum_of_ideal_col' already exists.

In [4]:
'''connecting to Mysql'''
mysql_engine = ce("mysql://root:mysql24S*@localhost:3306/assignment")

In [5]:
'''Loading CSv to Mysql'''
data.to_sql('sum_of_ideal_columns',mysql_engine)

50